body{
    background-image: url(./background.svg);
    background-size: auto;
    background-repeat: repeat;
    font-family: 'Press Start 2P', cursive;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(238, 171, 182, 0.726);
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    width: 70vw;
    height: 90vh;
}
.row{
    display: flex;
    align-items: flex-end ;
    justify-content: flex-end;
}
#rock{
    background-color: rgb(144 199 74);
}
#paper{
    background-color: rgb(255 221 87);
}
#scissors{
    background-color: rgb(113 143 200);
}
h1{
    width:70vw;
    text-align: center;
}
.playerChoice{
    padding-bottom: 5px;
}
.display{
    text-align: center;
    font-size: large;
}
#reset{
    background-color: rgb(235, 121, 140);
}

img{
    width:200px;
    height:200px;
    margin: auto;
}